
services:
  ilx-restaurant-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      - RESTAURANT_DB_DSN=postgres://username:password@postgres:5432/restaurant?sslmode=disable
      - SMTP_HOST=mailtrap.io
      - SMTP_PORT=2525
      - SMTP_USERNAME=372d553c29c9c6
      - SMTP_PASSWORD=3fb3fd1b008ee2
      - SMTP_SENDER=restaurantAPI <no-reply@restaurantAPI.ilx.net>
      - LIMITER_ENABLED=true
      - LIMITER_RPS=2
      - LIMITER_BURST=4
    depends_on:
    - postgres
    restart: unless-stopped
    volumes:
      - .:/app

  postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=restaurant
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=password
    ports:
      - "5435:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  # pgadmin:
  #   image: dpage/pgadmin4
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: admin@admin.com
  #     PGADMIN_DEFAULT_PASSWORD: root
  #   ports:
  #     - "5050:80"
